#selected-words {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: left;
}

#selected-words li {
  position: relative;
}

#editing-container {
  text-align: left;
}

#editing-buttons {
  background-color: #1F5760;
  display: inline-block;
  padding: 2px;
}

.letters-container {
  background-color: #1F5760;
  display: inline-block;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 4px;
}

.not-last {
  padding-bottom: 0px;
}

.letter-picker {
  display: inline-block;
  position: relative;
}

.letter-image {
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  -webkit-filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  font-size: 29px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  width: 30px;
}

.letter-button {
  border: none;
  border-radius: 4px;
  color: white;
  filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  -webkit-filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  font-size: 29px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin: 2px;
  padding: 0;
  width: 30px;
}

.letter-option {
  border: none;
  border-radius: 2px;
  bottom: -20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 0;
  position: absolute;
  width: 20px;
}

.letter-option-left {
  left: -4px;
}

.letter-option-right {
  left: 16px;
}

.results {
  margin-top: 24px;
  padding-inline-start: 0;
}

.results > li {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.remove-button {
  background: none;
  background-image: url('/img/minus-button.png');
  border: none;
  height: 30px;
  margin-left: 8px;
  position: relative;
  top: 2px;
  width: 30px;
}

#selected-words .remove-button {
  top: 3px;
}

.add-button {
  background: none;
  background-image: url('/img/plus-button.png');
  border: none;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: 2px;
  width: 30px;
}

.subtext {
  font-size: 0.70em;
}
