#selected-words {
  list-style: none;
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-top: 30px;
  text-align: left;
}

#selected-words li {
  margin-bottom: -5px;
  position: relative;
}

#editing-word {
  text-align: left;
}

.letter-picker {
  display: inline-block;
  position: relative;
}

.before-editing {
  margin-bottom: 30px;
}

.letter-image {
  border: 3px solid hsl(188, 51%, 25%);
  -webkit-filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  height: 30px;
  margin-right: -2px;
  width: 30px;
}

.letter-button {
  background: none;
  background-size: 30px 30px;
  border: 3px solid hsl(188, 51%, 25%);
  -webkit-filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  filter: drop-shadow(1px 1px 1px rgb(90, 90, 90));
  height: 36px;
  margin-right: -2px;
  padding: 0;
  width: 36px;
}

.letter-option {
  background: none;
  background-size: 20px 20px;
  border: none;
  bottom: -20px;
  height: 20px;
  position: absolute;
  width: 20px;
}

.letter-option-left {
  left: -5px;
}

.letter-option-right {
  left: 15px;
}

.results {
  padding-inline-start: 0;
}

.results > li {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.remove-button {
  background: none;
  background-image: url('/img/minus-button.png');
  border: none;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -2px;
  width: 30px;
}

#selected-words .remove-button {
  top: -5px;
}

.add-button {
  background: none;
  background-image: url('/img/plus-button.png');
  border: none;
  height: 30px;
  margin-left: 10px;
  position: relative;
  top: -4px;
  width: 30px;
}
